version: "3.9"

services:
  server:
    build: .
    container_name: server-app
    ports:
      - "9000:9000"
    depends_on:
      - mongo
    environment:
      - MONGO_URL=mongodb://mongo:27017/schoolapp

  mongo:
    image: mongo:7
    container_name: mongo-db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
