services:
  nginx:
    image: nginx:1.27-alpine
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/certs:/etc/nginx/certs:ro
    depends_on:
      - server

  server:
    build: .
    container_name: server-app
    expose:
      - "9000"
    environment:
      - PORT=9000
      - MONGO_URL=mongodb://mongo:27017/schoolapp
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    container_name: mongo-db
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
